
<p-progressSpinner *ngIf="loaddin"></p-progressSpinner>
<div class="content-page" *ngIf="!loaddin">
<div class="right">
  <ng-container *ngIf="detalle">
    <ng-container *ngIf="data.estado != 'iniciado'">
      <button pButton pRipple type="button" label="Iniciar Evento" class="p-button-rounded" (click)="iniEvento()"></button>

    </ng-container>
    <ng-container *ngIf="data.estado == 'iniciado'">
      <button pButton pRipple type="button" label="Ir" class="p-button-rounded p-mx-2" [routerLink]="'/voting/'+data.ref"></button>
      <button pButton pRipple type="button" label="Detener Evento" class="p-button-rounded" (click)="stopEvento()"> </button>
    </ng-container>

  </ng-container>
</div>
  <h4 class="title-pricipal" *ngIf="!detalle">Nuevo Evento</h4>
  <form [formGroup]="form">
    <div class="p-fluid p-col-12 p-d-flex p-flex-row p-jc-around">
      <div class="p-field p-col-4">
        <label for="username1">Nombre</label>
        <input id="username1" type="username" pInputText formControlName="nombre" />
      </div>
      <div class="p-field p-col-4">
        <label for="dateInit">Fecha Inicio</label>
        <p-calendar [showIcon]="true" class="p-mb-3" [dateFormat]="'dd-mm-aa'" [inline]="true" inputId="dateInit" formControlName="fechaInit"></p-calendar>
      </div>
      <div class="p-field p-col-4">
        <label for="dateEnd">Fecha Fin</label>
        <p-calendar [showIcon]="true" class="p-mb-3" inputId="dateEnd" formControlName="fechaFin"></p-calendar>
      </div>
    </div>
    <div class="p-d-inline-flex p-col-12">
      <div class="p-col-6 table-user">
        <app-table [titleTable]="'Votantes'" [tableData]="data.votantes" [tableConfig]="rowVotantes" (crear)="openDialog('votante')" [action]="action" ></app-table>
      </div>
      <div class="p-col-6 table-user">
        <app-table [titleTable]="'Candidatos'" [tableData]="data.candidatos" [tableConfig]="rowCandidatos" (crear)="openDialog('')" [action]="action"></app-table>
      </div>
    </div>
    <div class="p-d-flex p-jc-center">
      <button pButton pRipple type="button" class="p-button-rounded p-button-success" (click)="createEvento()" *ngIf="!detalle">Crear Evento</button>
    </div>
  </form>
</div>

<app-create-user #user (userCreated)="createEvent($event)"></app-create-user>
