<div class="table ">
  <p-card [header]="titleTable">
    <p-toolbar styleClass="p-mb-4">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="crearAction('create')"></button>
          <!-- <button pButton pRipple  icon="pi pi-trash" class="p-button-danger" (click)="cre('delete')"></button> -->
    </p-toolbar>

    <p-table
    #table
    [globalFilterFields]="['nombre']"
    [columns]="tableConfig"
    [value]="data()"
    [scrollable]="true"
    [rows]="8"
    scrollHeight="20vh"
    [virtualScroll]="true"
    [virtualRowHeight]="40"
    [paginator]="true"
    [rowHover]="true"
    >


<!--  -->
    <!-- search -->
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-end">
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="table.filterGlobal($event.target['nombre'], 'contains')" placeholder="Search..." />
          </span>
      </div>
  </ng-template>
  <!--  -->
      <ng-template pTemplate="header" let-columns>
        <tr>

          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <ng-container *ngIf="action">
            <th>Acción</th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">

        <tr style="height:40px">
          <td *ngFor="let col of columns" >
            {{rowData[col.field]}}
          </td>
          <ng-container *ngIf="action">
            <td class="" [routerLink]='action.ver.route+"/"+ rowData.name' *ngIf="action.ver.estado">
              <button pButton type="button" class="p-button-text" icon="pi pi-eye"></button>
            </td>
          </ng-container>

        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

